body{
    position: relative;
    padding-bottom: 0em ;
    min-height: 100vh;
    margin: 0px auto;
    
    
}
table{
    color:#011640;
    background-color: #F2DCD8;
    font-family: "Gill Sans",Helvetica, Verdana;
   
}

.frase{
    font-style: italic;
    font-size: 1.5em;
    padding: 1em;
    
    
}
.datos-personales{
    width: 30%; 
    background-color:grey;
    text-align: center;
    margin:0em;
   
}

.detalles{
    width:70%; 
    padding-left: 2%;
    
    padding-bottom: 1.5%;
  padding-top: 1.5%;
    
}

.habilidades-intereses{
    width:40%; 
    border-collapse: separate; 
    border-spacing: 1.5em;
}

img{
    width: 40%;
    height: 40%;
    border-radius: 5%;
}

.tit{
    font-weight: bolder;
}

li ul li{
    font-weight: lighter;
}

/* ------media queries -------*/

@media screen and (max-width: 950px) {
    .body{
        
        font-size: 0.8em;
        
    }
    .habilidades-intereses{
        border-spacing: 1.5em;
    }
    
    
  }

  @media screen and (max-width: 800px) {
    body{
        font-size: 0.7em;
    }
    .habilidades-intereses{
        border-spacing: 1.5em;
    }
    
  }

@media screen and (max-width: 600px) {
    body{
        font-size: 0.6em;
    }
    .habilidades-intereses{
        border-spacing: 2em;
    }
    
  }